doctype html
html
    head
    body
        header#header
            include ./modules/header-bg.pug
            
            div.hero-text-box
                h1 Hello, I'm Alex Berezkin<br/>I'm a web developer
                a.btn.offset(href="#portfolio") view my projects
        nav
            ul.main-nav
                li
                    a(href="#header") home
                li
                    a(href="#about") about
                li
                    a(href="#portfolio") portfolio
                li
                    a(href="#contact") contact

        <!----- ABOUT ------>

        section#about
            h2 ABOUT
            div.section-about
                div.about-me
                    h3 Who's this guy?
                    img(src='assets/img/myphoto.jpg')
                    p I'm the Front-End Developer for Illumina Lab in San Diego, CA.<br/>I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br/>Let's make something special.
                div.skills
                    h3 My skills
                    div.skills-container
                        div.bar 
                            .bar1
                            p 90% 
                                
                        div.bar 
                            .bar2 
                            p 80%    
                        div.bar
                            .bar3 
                            p 70%   
                        div.bar
                            .bar4 
                            p 20%  
                        div.bar
                            .bar5 
                            p 90%    
                        div.bar
                            .bar6 
                            p 80%    
                        div.bar
                            .bar7 
                            p 90%    
                        div.bar
                            .bar8 
                            p 90%    
                        div.bar
                            .bar9 
                            p 75%    
                        div.bar
                            .bar10 
                            p 70%    
                        div.bar
                            .bar11 
                            p 80%    
                        div.bar
                            .bar12 
                            p 50%    
                        div.bar
                            .bar13 
                            p 50%    

        <!----- PORTFOLIO ------>

        section#portfolio
            h2 PROJECTS
            div.section-portfolio
                div.project-1
                    a(href="#")
                        img(src='../assets/img/project.png')
                div.project-2
                    a(href="#")
                        img(src='../assets/img/project.png')
                div.project-3
                    a(href="#")
                        img(src='../assets/img/project.png')
                div.project-4
                    a(href="#")
                        img(src='../assets/img/project.png')
                div.project-5
                    a(href="#")
                        img(src='../assets/img/project.png')
                div.project-6
                    a(href="#")
                        img(src='../assets/img/project.png')

        <!----- CONTACT ------>
        section#contact
            h2 CONTACT
            p Have a question or want to work together?
            form.section-contact(name="contact-form", method="post")
                div
                    input(
                        type='text'
                        name='name'
                        placeholder="Name"
                    )
                div
                    input(
                        type='text'
                        name='email'
                        placeholder="Enter email"
                    )
                div
                    textarea Your Message
                
                input(
                    type='submit'
                    value='Submit'
                )
        footer
        