doctype html
html
    head
    body
        header#header
            div.hero-text-box
                h1 Hello, I'm Alex Berezkin <br/> I'm a web developer
            nav
                ul.main-nav
                    li
                        a(href="#header") home
                    li
                        a(href="#about") about
                    li
                        a(href="#portfolio") portfolio
                    li
                        a(href="#contact") contact

        <!----- ABOUT ------>

        section#about.section-about
            h2 ABOUT
            div.about-me
                img(src='assets/img/myphoto.jpg')
                h3 Who's this guy?
                p I'm the Front-End Developer for EyeCue Lab in Portland, OR.<br/>I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br/>Let's make something special.
            div.skills 
                h3 My skills
                div.skills-container
                    div.bar 
                        .bar1
                            .tag HTML5
                    div.bar
                        .bar2 
                            .tag CSS3
                    div.bar
                        .bar3 
                            .tag JavaScript / ES6
                    div.bar
                        .bar4 
                            .tag React
                    div.bar
                        .bar5 
                            .tag jQuery / AJAX
                    div.bar
                        .bar6 
                            .tag XML / XHTML
                    div.bar
                        .bar7 
                            .tag SASS / LESS / Stylus
                    div.bar
                        .bar8 
                            .tag Pug
                    div.bar
                        .bar9 
                            .tag Git / Github
                    div.bar
                        .bar10 
                            .tag Webpack / Babel
                    div.bar
                        .bar11 
                            .tag NPM
                    div.bar
                        .bar12 
                            .tag Adobe Photoshop
                    div.bar
                        .bar13 
                            .tag Axure / Figma

        <!----- PORTFOLIO ------>

        section#portfolio.section-portfolio
            h2 PROJECTS
            div
            div
            div
            div
            div
            div

        <!----- CONTACT ------>
        section#contact.section-contact
            h2 CONTACT
            p Have a question or want to work together?
            form(name="contact-form", method="post")
                div
                    input(
                        type='text'
                        name='name'
                        placeholder="Name"
                    )
                div
                    input(
                        type='text'
                        name='name'
                        placeholder="Name"
                    )
                div
                    textarea Your Message
                
                input(
                    type='submit'
                    value='Submit'
                )
        footer
        